body {
    margin-left: 0px;
}
/* section - header */
#header {
    position:relative; 
    left:0; 
    top: 0;
    width:100%;
    font-size: 40px;
    z-index: 1;
    font-family: "Cafe24Ssurround";
}
#navmenu {
    color: #000;
}
#navmenu p {
    margin: 0 70px;

}
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
/*#navmenu a:hover {
    text-decoration:dotted;
    color: blueviolet;
}*/
/* section - home */
#Home{
    margin-right: 0px;
}
#Home>.skill-item> img{
    width: 500px;
    position: absolute; 
    top:135px;
    margin-left: 100px;
    border-radius: 50%;
    border: solid 11px #19ff34;
}
.container>h1 {
    position:absolute; 
    left:840px; 
    bottom:390px; 
    font-weight:800; 
    font-size:50px; 
    color:#000000; 
    letter-spacing:1px;
    /*text-shadow: 4px 12px 6px #301b0c;*/
    font-family: "Cafe24Ssurround";
}
.container>h2 {
    position:absolute; 
    left:1070px; 
    bottom:390px; 
    font-weight:800; 
    font-size:50px; 
    color:#000000; 
    letter-spacing:1px;
    /*text-shadow: 4px 12px 6px #5b4a3e;*/
    font-family: "Cafe24Ssurround";
}
.container>h3 {
    position:absolute; 
    left:1290px; 
    bottom:383px; 
    font-weight:800; 
    font-size:50px; 
    color:#000000; 
    letter-spacing:1px;
    /*text-shadow: 4px 12px 6px #5b4a3e;*/
    font-family: "Cafe24Ssurround";
}
#button.content>h1 {
    
    padding: 50px;
    position:absolute; 
    left: 600px;
    bottom:-30px; 
    background-color: #356e3c;
    font-weight:800; 
    font-size:40px;
    border-radius: 5%; 
    color:#000000; 
    letter-spacing:1px;
    /*text-shadow: 4px 12px 6px #5b4a3e;*/
    font-family: "Cafe24Ssurround";
}
#button.content>h2 {
    position:absolute; 
    left: 1000px;
    bottom:-30px; 
    background-color: aqua;
    font-weight:800; 
    font-size:40px; 
    border-radius: 5%;
    color:#000000; 
    letter-spacing:1px;
    /*text-shadow: 4px 12px 6px #5b4a3e;*/
    font-family: "Cafe24Ssurround";
}