@font-face {
    font-family: 'RixMomsBlanketR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/RixMomsBlanketR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;}
/* section - home */
#Home{
position: relative;
width:100%; 
height:650px; 
background-image:url(images/웹디1_대지\ 1.png); 
background-size:cover
}
body {
    position: relative;
    margin: 0%;

}
.container>h1 {
    position:absolute; 
    left:7%; 
    top: 200px;
    font-size:100px; 
    color:#fff6e6; 
    line-height:0.9; 
    letter-spacing:1px;
    text-shadow: 4px 9px 6px #ac7171c9;

}
/* section - header */
#header {
    position:fixed; 
    left:0; 
    top: 0;
    width:100%;
    z-index: 1;
}
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:30px; 
    background-color:rgba(255,255,255,0.5);
    padding-top: 7px;
    justify-content: center;
    text-align: center;
}
#navmenu.active {
    top:0;
}
#navmenu p {
    margin: 0 71px;
}
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration:dotted;
    color: rgb(255, 199, 199);
}
/* section - pictures */

#pictures {
    position: relative;
    width: 100%;
    padding-top: 160px;
}
#container1 {
    text-align: center;
    font-size: 45px;
    color: #b47a7a;
}

.skill-item {
    position: relative;
    width: 60%;     
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.skill-item > img {
    width: 100%;
    border-radius: 10px;
}
.skill-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color:rgb(255, 206, 206);
    opacity: 0.0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    border-radius: 10px;
    
}
.skill-item:hover .skill-overlay {
    opacity: 0.7;
    text-decoration:double;
    color: rgb(255, 255, 255);
}
.skill-title {
    margin: 0;
    padding: 0;

}
.skill-description {
    margin: 0;
    padding: 0;
}

/* section - connect */
#Connect {
    position: relative;
    line-height: 100%;
    margin-top: 90px;
}
.container2> h1 {
    text-align: center;
    font-size:50px; 
    color:#c69595; 
    margin-top: 30px;
}
.container2> p {
    text-align: center;
    font-size:20px; 
    color:#b47a7a; 
    letter-spacing:1px;
    line-height: 2;
    padding-bottom: 20px;
}

/* moving-object */
#moving-object {
    z-index: 20000;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    left: 50px;
    background-color: rgb(255, 106, 146);

    /*
    animation-name: rect-animation;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    */

    animation: obj-path 4s 1s infinite linear alternate,
            obj-rotate 2s 1s infinite linear;
}
@keyframes obj-path {
    0% {
        top: 50px;
        left: 750px;
    }
    25% {
        top: 30vh;
        left: 90vw;
    }
    50% {
        top: 80vh;
        left: 0vw;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    75% {
        top: 0vh;
        left: 90vw;
    }
    100% {
        top: 50vh;
        left: 10px;
    }
}
@keyframes obj-rotate {
    to {
      transform: rotate(360deg);
    }
}


/* pad */

@media screen and (max-width: 860px) {
    #HTML {display:none;}
/* section - home */
#Home{
    position: relative;
    width:100%; 
    height:250px; 
    background-image:url(images/웹디1_대지\ 1.png); 
    background-size:cover
}
.container>h1 {
    font-size: 35px;
    top: 90px;
    left: 20px;
}
/* section - header */
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:27px; 
    background-color:rgba(255,255,255,0.5);
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}
#navmenu p {
    margin: 0 16px;
}
/* section - pictures */
#pictures {
    position: relative;
    width: 100%;
    padding-top: 30px;
}
#container1 {
    text-align: center;
    font-size: 20px;
    color: #b47a7a;
}
.skill-overlay{
    height: 100%;
}
/* section - connect */
#Connect {
    position: relative;
    line-height: 100%;
}
.container2> h1 {
    text-align: center;
    font-size:30px; 
    color:#c69595; 
    margin-top: 5px;
}
.container2> p {
    text-align: center;
    font-size:10px; 
    color:#b47a7a; 
    letter-spacing:1px;
    line-height: 2;
}


/* moving-object */
#moving-object {
    z-index: 20000;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    left: 50px;
    background-color: rgb(255, 106, 146);

    animation: obj-path 4s 1s infinite linear alternate,
            obj-rotate 2s 1s infinite linear;
}
@keyframes obj-path {
    0% {
        top: 50px;
        left: 25px;
    }
    25% {
        top: 30vh;
        left: 45vw;
    }
    50% {
        top: 80vh;
        left: 70vw;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    75% {
        top: 0vh;
        left: 45vw;
    }
    100% {
        top: 50vh;
        left: 10px;
    }
}
@keyframes obj-rotate {
    to {
      transform: rotate(360deg);
    }
}

}




/* mobile */

@media screen and (max-width: 450px) {
    #HTML {display:none;}
/* section - home */
#Home{
    position: relative;
    width:100%; 
    height:250px; 
    background-image:url(images/웹디1_대지\ 1.png); 
    background-size:cover
}
.container>h1 {
    font-size: 35px;
    top: 90px;
    left: 20px;
}
/* section - header */
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:27px; 
    background-color:rgba(255,255,255,0.5);
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}
#navmenu p {
    margin: 0 15px;
}
/* section - pictures */
#pictures {
    position: relative;
    width: 100%;
    padding-top: 30px;
}
#container1 {
    text-align: center;
    font-size: 20px;
    color: #b47a7a;
}
.skill-overlay{
    height: 100%;
}
/* section - connect */
#Connect {
    position: relative;
    line-height: 100%;
}
.container2> h1 {
    text-align: center;
    font-size:30px; 
    color:#c69595; 
    margin-top: 5px;
}
.container2> p {
    text-align: center;
    font-size:10px; 
    color:#b47a7a; 
    letter-spacing:1px;
    line-height: 2;
}


/* moving-object */
#moving-object {
    z-index: 20000;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    left: 50px;
    background-color: rgb(255, 106, 146);

    animation: obj-path 4s 1s infinite linear alternate,
            obj-rotate 2s 1s infinite linear;
}
@keyframes obj-path {
    0% {
        top: 50px;
        left: 290px;
    }
    25% {
        top: 30vh;
        left: 45vw;
    }
    50% {
        top: 80vh;
        left: 0vw;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    75% {
        top: 0vh;
        left: 45vw;
    }
    100% {
        top: 50vh;
        left: 10px;
    }
}
@keyframes obj-rotate {
    to {
      transform: rotate(360deg);
    }
}

}










