body {
    position: relative;
    margin: 0%;

}
/* section - header */
#header {
    position:fixed; 
    left:0; 
    top: 0;
    width:100%;
    z-index: 1;
}
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:30px; 
    background-color:rgba(255,255,255,0.5);
    padding-top: 7px;
    justify-content: center;
    text-align: center;
}
#navmenu.active {
    top:0;
}
#navmenu p {
    margin: 0 69px;
}
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration:dotted;
    color: rgb(255, 199, 199);
}