@font-face {
    font-family: 'RixMomsBlanketR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/RixMomsBlanketR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }    
/* section - home */
#Home{
margin-top: 100px;
position: relative;
width:40%; 
left: 10px;
height:950px; 
background-image:url(images/aboutme.png); 
background-size:cover
}
html {
    scroll-behavior: smooth; /* 스크롤 시 부드럽게 이동 */
}
body {
    position: relative;
    margin: 0%;
    font-family: 'LOTTERIADDAG';

}
/* section - header */
#header {
    position:fixed; 
    left:0; 
    top: 0;
    width:100%;
    z-index: 1;
}
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:40px; 
    background-color:rgba(255,255,255,0.5);
    padding-top: 14px;
    padding-bottom: -14px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
#navmenu.active {
    top:0;
}
#navmenu p {
    margin: 0 69px;
}
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration:dotted;
    color: rgb(255, 199, 199);
}
/* section - pictures */

#pictures {

    width: 100%;
  
}
.container1 >h2{
    position:absolute; 
    top: 100px;
    font-size: 100px;
    left: 1000px;
}

.container1>p{
    position:absolute; 
    top: 250px;
    font-size: 80px;
    left: 1000px;
    
}
.skill-item {
    position: absolute;
    top: 550px;
    margin: 0 auto;
    left: 1000px;
    text-align: center;
    letter-spacing: 4px;
}
.skill-item >h3 {
    text-align: center;
    text-align-last: left;
}


/* section - connect */
#connect {
    position: relative;
    line-height: 100%;
    margin-top: 90px;
}
.container2> h1 {
    text-align: center;
    font-size:50px; 
    color:#ffffff; 
    margin-top: 30px;
    font-family: 'LOTTERIADDAG';
    letter-spacing: 4px;
}
.container2> p {
    text-align: center;
    font-size:20px; 
    color:#f4e4e4; 
    letter-spacing:1px;
    line-height: 2;
    padding-bottom: 20px;
    font-family: 'LOTTERIADDAG';
    letter-spacing: 4px;
}


/* pad */

@media screen and (max-width: 860px) {
    #HTML {display:none;}
/* section - home */
#Home{
    position: relative;
    width:100%; 
    height:250px; 
    background-image:url(images/aboutme.png); 
    background-size:cover
}
html {
    scroll-behavior: smooth; /* 스크롤 시 부드럽게 이동 */
}
body {
    position: relative;
    margin: 0%;
    font-family: 'LOTTERIADDAG';

}
.container>h1 {
    position:absolute; 
    font-size: 35px;
    top: 90px;
    left: 20px;
    line-height:1; 
    letter-spacing:2px;
    text-shadow: 4px 9px 6px #ac7171c9;
}
/* section - header */
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:27px; 
    background-color:rgba(255,255,255,0.5);
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}
#navmenu.active {
    top:0;
}
#navmenu p {
    margin: 0 16px;
}
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration:dotted;
    color: rgb(255, 199, 199);
}
/* section - pictures */
#pictures {
    position: relative;
    width: 100%;
    padding-top: 30px;
}
.container1 >h2{
    position:relative; 
    left: 0;
    font-size: 10px;

}

.container1>p{
    position:relative; 
    left: 0;
    font-size: 8px;
    
}
.skill-item {
    position: relative;
    width: 60%;     
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 4px;
}
.skill-item > img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
}
.skill-overlay{
    height: 100%;
}
/* section - connect */
#connect {
    position: relative;
    line-height: 100%;
    margin-top: 90px;
}
.container2> h1 {
    text-align: center;
    font-size:30px;  
    margin-top: 5px;
    letter-spacing: 4px;
    }

.container2> p {
    text-align: center;
    font-size:10px; 
    letter-spacing:1px;
    line-height: 2;
    padding-bottom: 20px;
}
}



/* mobile */

@media screen and (max-width: 550px) {
    #HTML {display:none;}
/* section - home */
#Home{
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    position: relative;
    width:100%; 
    height:350px; 
    background-image:url(images/aboutme.png); 
    background-size:cover;
    left: 0;
}
.content {
    text-align: center;
    width:100%; 
    left: 0;
}
/* section - header */
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:27px; 
    background-color:rgba(255,255,255,0.5);
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}
#navmenu p {
    margin: 0 15px;
}
/* section - pictures */
#pictures {
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 0;
    left: 0;
    color: #ffffff;
}
.container1{
    position: relative;
}
.container1>h2{
    top:0;
    font-size: 20px;
    bottom: -10px;
}
.container1>p{
    top:0;
    font-size: 15px;
    font-weight: lighter;
}

.skill-item{
    position: relative;
    width: 100%;    
    top:0;
    margin: 0;
    left: 0; 
    text-align: center;
    letter-spacing: 4px;

}
.skill-item>h3{
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    text-align-last: center;
}


/* section - connect */
#connect {
    margin-top: 0;
    position: relative;

}
.container2> h1 {
    text-align: center;
    font-size:20px; 
    font-weight: lighter;

}
.container2> p {
    text-align: center;
    font-size:10px; 
   

}


}




