body {
    position: relative;
    margin: 0%;
}
html {
    scroll-behavior: smooth; /* 스크롤 시 부드럽게 이동 */
}
/* section - header */
#header {
    position:fixed; 
    left:0; 
    top: 0;
    width:100%;
    z-index: 1;
}
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:30px; 
    background-color:rgba(255,255,255,0.5);
    padding-top: 7px;
    justify-content: center;
    text-align: center;
}
#navmenu.active {
    top:0;
}
#navmenu p {
    margin: 0 69px;
}
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration:dotted;
    color: rgb(255, 199, 199);
}

/*section - video */
#Video{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.VideoContainer source{
    width: 100%;
    height: auto;

}

.container>h1 {
    margin: 0%;
    position:relative; 
    font-size:75px; 
    color:#fff6e6; 
    letter-spacing:1px;
    /*text-shadow: 4px 9px 6px #2c1818c9;*/
}

/* section - pictures */
#pictures {
    position: relative;
    width: 100%;
    padding-top: 130px;
}
#container1 {
    text-align: center;
    font-size: 45px;
    color: #b47a7a;
}
.skill-item {
    position: relative;
    width: 62%;     
    margin: 0 auto;
    text-align: center;
}
.skill-item > img {
    width: 100%;
    border-radius: 10px;
}
/* section - bottom */
#Connect {
    position: relative;
    line-height: 100%;
    margin-top: 90px;
}
.container2> h1 {
    text-align: center;
    font-size:50px; 
    color:#c69595; 
    margin-top: 30px;
}
.container2> p {
    
    margin-top: -30px;
    text-align: center;
    font-size:20px; 
    color:#b47a7a; 
    letter-spacing:1px;
    line-height: 2;
    margin-bottom: 10px;
}