/* section - home */
#Home{
width:100%; 
height:650px; 
background-image:url(images/6eql9ohy.png); 
background-size:cover; 
display:block;
background-position:center center;
}
body {
    margin: 0%;
    margin-top: -20px;
    padding: 0%;
}
.container>h1 {
    position:absolute; 
    left:180px; bottom:320px; 
    font-weight:800; 
    font-size:100px; 
    color:#fff6e6; 
    line-height:0.9; 
    letter-spacing:1px;
    text-shadow: 4px 12px 6px #301b0c;
    font-family: "Cafe24Ssurround";
}
/* section - header */
#header {
    position:fixed; 
    left:0; 
    top: 0;
    width:100%;
    font-family: 'RixMomsBlanketR';
    z-index: 1;
}
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:30px; 
    background-color:rgba(255,255,255,0.5);
    padding-right: 10px;
    padding-top: 7px;
    justify-content: center;
    text-align: center;
}
#navmenu.active {
    top:0;
}
#navmenu p {
    margin: 0 70px;
}
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration:dotted;
    color: blueviolet;
}
/* section - pictures */
#pictures {
    position:relative; 
    width:1200px; 
    height:960px; 
    margin:0 auto;
}
.skill-item {
    margin: 10px 20px;
}
#skill {
    position:relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 0;
    transition: all 0.2s linear;
}
#skill a:hover {
    filter: brightness(0.5);
    transform: scale(140.8);
}
.skill-item img {
    border-radius: 2%;
    transition: all 0.2s linear;
}
.skill-item:hover img{
    transform: scale(1.1);
}
/* section - connect */
#Connect {
    position: relative;
    line-height: 150%;
}
.container2> h1 {
    text-align: center;
    font-weight:80; 
    font-size:50px; 
    color:#fff6e6; 
    margin-top: 90px;
    /*letter-spacing:1px;
    text-shadow: 4px 12px 6px #301b0c;*/
    font-family: "Cafe24Ssurround";
}
.container2> h2 {
    text-align: center;
    font-weight:80; 
    font-size:20px; 
    color:#fff6e6; 
    letter-spacing:1px;
    line-height: 2;
    /*text-shadow: 4px 12px 6px #301b0c;*/
    font-family: "Cafe24Ssurround";
    padding-bottom: 20px;
}
