/* section - home */
#Home{
width:100%; 
height:650px; 
background-image:url(images/6eql9ohy.png); 
background-size:cover; 
display:block;
background-position:center center;
}
body {
    margin: 0%;
    margin-top: -20px;
    padding: 0%;
}
.container>h1 {
    position:absolute; 
    left:180px; bottom:320px; 
    font-weight:800; 
    font-size:100px; 
    color:#fff6e6; 
    line-height:0.9; 
    letter-spacing:1px;
    text-shadow: 4px 12px 6px #301b0c;
    font-family: "Cafe24Ssurround";
}
.container>h2 {
    position:absolute; 
    left:180px; bottom:320px; 
    font-weight:800; 
    font-size:100px; 
    color:#fff6e6; 
    line-height:0.9; 
    letter-spacing:1px;
    text-shadow: 4px 12px 6px #5b4a3e;
    font-family: "Cafe24Ssurround";
}
.container>h3 {
    position:absolute; 
    left:180px; bottom:320px; 
    font-weight:800; 
    font-size:100px; 
    color:#634e2b; 
    line-height:0.9; 
    letter-spacing:1px;
    text-shadow: 4px 12px 6px #fff8f4;
    font-family: "Cafe24Ssurround";
}