/* section - home */
#Home{
position: relative;
width:100%; 
height:650px; 
background-image:url(images/웹디1_대지\ 1.png); 
background-size:cover


}
body {
    position: relative;
    margin: 0%;
    /*width: 1519px;
    height: 960px;*/

}
.container>h1 {
    position:absolute; 
    left:180px; top: 200px;
    font-weight:800; 
    font-size:100px; 
    color:#fff6e6; 
    line-height:0.9; 
    letter-spacing:1px;
    text-shadow: 4px 9px 6px #ac7171c9;
    font-family: "Cafe24Ssurround";
}
/* section - header */
#header {
    position:fixed; 
    left:0; 
    top: 0;
    width:100%;
    font-family: 'RixMomsBlanketR';
    z-index: 1;
}
#navmenu {
    display: flex;
    position:fixed;
    width:100%; 
    height:30px; 
    background-color:rgba(255,255,255,0.5);
    padding-right: 10px;
    padding-top: 7px;
    justify-content: center;
    text-align: center;
}
#navmenu.active {
    top:0;
}
#navmenu p {
    margin: 0 70px;
}
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration:dotted;
    color: rgb(255, 199, 199);
}
/* section - pictures */

/*.skill-item {
    margin: 10px 10px;
}*/
#container1 {
    text-align: center;
    margin-left: 700px;
    margin-top: -50px;
    font-size: 45px;
    color: #b47a7a;
}
/*#pictuers {
    top: 50px;
    position:relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 0;
    transition: all 0.2s linear;
}
#skill a:hover {
    filter: brightness(0.5);
    transform: scale(140.8);
}
.skill-item img {
    border-radius: 2%;
    transition: all 0.2s linear;
}
.skill-item:hover img{
    transform: scale(1.1);
}*/
#pictures {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 160px;
}
.skill-item {
    position: relative;
    width: 60%;     
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.skill-item > img {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.skill-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color:rgb(255, 206, 206);
    opacity: 0.0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    border-radius: 10px;
    
}
.skill-item:hover .skill-overlay {
    opacity: 0.7;
    text-decoration:double;
    color: rgb(255, 255, 255);
}
.skill-title {
    margin: 0;
    padding: 0;

}
.skill-description {
    margin: 0;
    padding: 0;
}



/* section - connect */
#Connect {
    position: relative;
    line-height: 100%;
}
.container2> h1 {
    text-align: center;
    font-weight:80; 
    font-size:50px; 
    color:#c69595; 
    margin-top: 150px;
    /*letter-spacing:1px;
    text-shadow: 4px 12px 6px #301b0c;*/
    font-family: "Cafe24Ssurround";
}
.container2> h2 {
    text-align: center;
    font-weight:80; 
    font-size:20px; 
    color:#b47a7a; 
    letter-spacing:1px;
    line-height: 2;
    /*text-shadow: 4px 12px 6px #301b0c;*/
    font-family: "Cafe24Ssurround";
    padding-bottom: 30px;
}
/*@media screen and (max-width: 1201px) {
	body {
		background-color: lightgreen;
        position: relative;
        margin: 0%;
        width: 1519px;
        height: 960px;
	}
}*/

@media screen and (min-width: 450px) {
    #HTML {display:none;}
}
#skill {
    padding-top: 60px;
    text-align: center;
    font-size: 16px;
}